.content {
    width: 100%;
    display: flex;
    float: left;
    margin-top: 15px;
    padding: 0;
}
.text-content {
    height: 500px;
    margin-top: 15px;
    padding: 0;
    border: 1px solid lightgrey;
}
.img-content {
    border: 1px solid lightgrey;
    width: 100%;
    margin-top: 15px;
    padding: 0;
}
.row    {
    margin: 0;
}
.img-item {
    border: 1px solid green;
    margin-top: 30px;
    height: 300px;
}
.sidebar-right {
    margin-top: 15px;
    border: 1px solid lightgrey;
}
.sidebar-title {
    margin-bottom: 20px;
}
.sidebar-item {
    width: 90%;
    border: 1px solid lightgrey;
    margin: 0 auto;
}
.sidebar-item-title {
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: none;
}
.sidebar-list-item, .list-group-item {
    margin: 0 10px 0 10px;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    border-left: none;
    border-right: none;
}
.item-end {
    border: unset;
    margin: 0 10px 0 10px;
}